<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hey <%= @user.email %> our predicted price is reached!</p>
    Message: You can buy now @ <%= @price %>
    </p>
  </body>
</html>
